@model List<Fiap.Exemplo02.MVC.Web.Models.Aluno>

@foreach (var item in Model)
            {
    <tr>
        <td>@item.Id</td>
        <td>@item.Nome</td>
        <td>@item.DataNascimento.ToShortDateString()</td>
        <td>@item.Desconto</td>
        <td>@(item.Bolsa ? "Sim" : "Não")</td>
        <td>@item.GrupoId</td>
        <td id="acoes">
            <button onclick="IDID.value=@item.Id" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">
                Excluir
            </button>
            @Html.ActionLink("Editar", "Editar", new { id = @item.Id }, new { @class = "btn btn-primary btn-sm" })


        </td>
    </tr>
}

@if (Request.IsAjaxRequest())
{
    <script>someBotao()</script>
}