@model Fiap.Exemplo02.MVC.Web.ViewModels.AlunoViewModel
@{
    ViewBag.Title = "Cadastrar";
}

@Juliao.Titulo("Cadastrar")

<div class="row">
    <div class="col-md-12">
        <div class="@Model.TipoMensagem">
            <p>@Model.Mensagem</p>
        </div>
    </div>
</div>

@Html.ValidationSummary()

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {

            <div class="form-group has-feedback">
                @Html.LabelFor(a => a.Nome)
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.TextBoxFor(a => a.Nome, new { @class = "input-validation-error form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.Nome)
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.DataNascimento)
                @*@Html.TextBoxFor(a => a.DataNascimento, new { @class = "form-control", @Value = Model.DataNascimento.ToString("dd/MM/yyyy") })*@
                @*@Html.EditorFor(a => a.DataNascimento, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextBoxFor(a => a.DataNascimento, "{0:yyyy-MM-dd}", new { @class = "form-control", type="date" })
                @*@Html.TextBoxFor(a => a.DataNascimento, "{0:dd/MM/yyyy}", new { @class = "form-control" })*@
                @*0:dd/MM/yyyy*@
               
                @Html.ValidationMessageFor(a => a.DataNascimento)                               

            </div>
           
            <div class="form-group">
                @Html.LabelFor(a=>a.GrupoId)
                @Html.DropDownListFor(a=>a.GrupoId, 
               Model.ListaGrupo, "Selecione", 
               new { @class="form-control" })
            </div>

            @*<div class="form-group">
                @Html.LabelFor(a=>a.Professores)
                @Html.DropDownListFor(a=>a.Professores, 
               Model.ListaProf, 
               "Selecione", 
               new { @class="form-control", multiple="multiple" })
            </div>*@

            <div class="form-group">
                @Html.LabelFor(a=>a.Bolsa)
                @Html.CheckBoxFor(a=>a.Bolsa)
                @Html.ValidationMessageFor(a => a.Bolsa)
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.Desconto)
                @Html.TextBoxFor(a => a.Desconto, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Desconto)
            </div>


            @Juliao.Submit("Salvar")

            @*@Html.EditorForModel(new { @class="form-control"})
            @Juliao.Submit("Salvar")*@
        }
    </div>
</div>

@section scripts{
    <script>
        $().ready(function () {

            $("#DataNascimento").datepicker();

            if ($("#Bola").attr("checked") == "checked") {
                $("#Desconto").parent().css("display", "block");
            } else {
                $("#Desconto").parent().css("display", "none");
            }
           // $("#Desconto").parent().slideToggle();
            //Quando clicar no checkbox
            $("#Bolsa").click(function () {
                //Esconde ou exibe 
                $("#Desconto").parent().slideToggle();
                $("#Desconto").focus();
            });

            $("#btnSubmit").click(function () {                
                $.ajax({
                    url: '@Url.Action("BuscarNome", "Aluno")',
                    type: "get",
                    data: { nome: $("#Nome").val() },
                    success: function (data) {
                        if (data.ok) {
                            $('.input-validation-error').parents('.form-group').removeClass('has-success').addClass('has-error');
                            $('.input-validation-error').parents('.input-group-addon').find('i').remove();
                            $('.input-validation-error').parents('.input-group-addon').append("<i class=\"glyphicon glyphicon-remove form-control-feedback\"></i>");
                            $("#Nome").focus();
                            return true;
                        } else {
                            $('.input-validation-error').parents('.form-group').removeClass('has-error').addClass('has-success');
                            $('.input-validation-error').parents('.input-group-addon').find('i').remove();
                            $('.input-validation-error').parents('.input-group-addon').append("<i class=\"glyphicon glyphicon-ok form-control-feedback\"></i>");
                            $("#btnSubmit").parents("form").submit();
                        }
                    },
                    error: function () {                        
                        return false;
                    }
                });               
            });

            $("#Nome").blur(function () {
                verificarNome();
            });                           

            //buscar se nome já existe com ajax
            function verificarNome() {
                if ($("#Nome").val().trim().length == 0) {
                    $('.input-validation-error').parents('.form-group').removeClass('has-success').addClass('has-error');
                    $('.input-validation-error').parents('.input-group-addon').find('i').remove();
                    $('.input-validation-error').parents('.input-group-addon').append("<i class=\"glyphicon glyphicon-remove form-control-feedback\"></i>");
                    $("#Nome").focus();
                    return true;
                } else {

                    $.ajax({
                        url: '@Url.Action("BuscarNome", "Aluno")',
                        type: "get",
                        data: { nome: $("#Nome").val() },
                        success: function (data) {
                            if (data.ok) {
                                $('.input-validation-error').parents('.form-group').removeClass('has-success').addClass('has-error');
                                $('.input-validation-error').parents('.input-group-addon').find('i').remove();
                                $('.input-validation-error').parents('.input-group-addon').append("<i class=\"glyphicon glyphicon-remove form-control-feedback\"></i>");
                                $("#Nome").focus();
                                return true;
                            } else {
                                $('.input-validation-error').parents('.form-group').removeClass('has-error').addClass('has-success');
                                $('.input-validation-error').parents('.input-group-addon').find('i').remove();
                                $('.input-validation-error').parents('.input-group-addon').append("<i class=\"glyphicon glyphicon-ok form-control-feedback\"></i>");
                                return data.ok;
                            }
                        },
                        error: function () {
                            console.log("erro");
                            return false;
                        }
                    });
                }                
            }

            //datas
            $("#DataNascimento").datepicker({ dateFormat: "dd/mm/yy" });
            $(".selector").datepicker("option", "dateFormat", "dd/mm/yy");

            if ($("#Bolsa").attr("checked") == "checked") {
                $("#Desconto").parent().css("display", "block");
            } else {
                $("#Desconto").parent().css("display", "none");
            }

            $("#Bolsa").click(function () {
                $("#Desconto").parent().slideToggle();
                $("#Desconto").focus();
            });          

           
        });
    </script>       
}