@model Fiap.Exemplo02.MVC.Web.ViewModels.AlunoViewModel
@{
    ViewBag.Title = "Cadastrar";
}

@Juliao.Titulo("Cadastrar")

<div class="row">
    <div class="col-md-12">
        <div class="@Model.TipoMensagem">
            <p>@Model.Mensagem</p>
        </div>
    </div>
</div>

@Html.ValidationSummary()

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {

            <div class="form-group">
                @Html.LabelFor(a => a.Nome)
                @Html.TextBoxFor(a => a.Nome, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Nome)
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.DataNascimento)
                @*@Html.TextBoxFor(a => a.DataNascimento, new { @class = "form-control", @Value = Model.DataNascimento.ToString("dd/MM/yyyy") })*@
                @*@Html.EditorFor(a => a.DataNascimento, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextBoxFor(a => a.DataNascimento, "{0:d MMM yyyy}", new { @class = "form-control", type="date" })
                @*0:dd/MM/yyyy*@
               
                @Html.ValidationMessageFor(a => a.DataNascimento)                               

            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.Desconto)
                @Html.TextBoxFor(a=>a.Desconto, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Desconto)
            </div>

            <div class="form-group">
                @Html.LabelFor(a=>a.GrupoId)
                @Html.DropDownListFor(a=>a.GrupoId, 
               Model.ListaGrupo, "Selecione", 
               new { @class="form-control" })
            </div>

            @*<div class="form-group">
                @Html.LabelFor(a=>a.Professores)
                @Html.DropDownListFor(a=>a.Professores, 
               Model.ListaProf, 
               "Selecione", 
               new { @class="form-control", multiple="multiple" })
            </div>*@

            <div class="form-group">
                @Html.LabelFor(a=>a.Bolsa)
                @Html.CheckBoxFor(a=>a.Bolsa)
                @Html.ValidationMessageFor(a => a.Bolsa)
            </div>

            @Juliao.Submit("Salvar")

            @*@Html.EditorForModel(new { @class="form-control"})
            @Juliao.Submit("Salvar")*@
        }
    </div>
</div>