@model Fiap.Exemplo02.MVC.Web.ViewModels.AlunoViewModel
@{
    ViewBag.Title = "Cadastrar";
}

@Juliao.Titulo("Cadastrar")

<div class="row">
    <div class="col-md-12">
        <div class="@Model.TipoMensagem">
            <p>@Model.Mensagem</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        { 

            <div class="form-group">
                @Html.LabelFor(a=>a.Nome)
                @Html.TextBoxFor(a=>a.Nome, new { @class="form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(a=>a.DataNascimento)
                @Html.TextBoxFor(a => a.DataNascimento, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.Desconto)
                @Html.TextBoxFor(a=>a.Desconto, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(a=>a.GrupoId)
                @Html.DropDownListFor(a=>a.GrupoId, 
               Model.ListaGrupo, "Selecione", 
               new { @class="form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(a=>a.Bolsa)
                @Html.CheckBoxFor(a=>a.Bolsa)
            </div>

            @Juliao.Submit("Salvar")

            @*@Html.EditorForModel(new { @class="form-control"})
            @Juliao.Submit("Salvar")*@
        }
    </div>
</div>