@model Fiap.Exemplo02.MVC.Web.ViewModels.AlunoViewModel
@{
    ViewBag.Title = "Editar";
}

@Juliao.Titulo("Editar Aluno")

<div class="row">
    <div class="col-md-12">
        <div class="@TempData["tipoMensagem"]">
            <p>@TempData["mensagem"]</p>
        </div>
    </div>
</div>

<div class="row"> 
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.LabelFor(a => a.Nome)
                @Html.TextBoxFor(Model.Nome, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.DataNascimento)
                @Html.TextBoxFor(Model.DataNascimento, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.Desconto)
                @Html.TextBoxFor(Model.Desconto, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.Bolsa)
                @Html.CheckBoxFor(Model.Bolsa)
            </div>

            <div class="form-group">
                @Html.LabelFor(a=>a.GrupoId)
                @Html.DropDownListFor(a=>a.GrupoId, Model.ListaGrupo, new { @class = "form-control" })
            </div>

            @Juliao.Submit("Salvar")
           
        }
    </div>
</div>

