@model  Fiap.Exemplo02.MVC.Web.ViewModels.AlunoViewModel
@{
    ViewBag.Title = "Listar";
}

@Juliao.Titulo("Listar")

<div class="row">
    <div class="col-md-12">
        <div class="@Model.TipoMensagem">
            <p>@Model.Mensagem</p>
        </div>
    </div>
</div>

<div class="row">
@using (Html.BeginForm("Buscar", "Aluno", FormMethod.Get))
{       
        
        <div class="col-md-3">
            @Html.TextBoxFor(a=>a.NomeBusca, new { placeholder = "Digite um Nome", @class = "form-control" })
        </div>

        <div class="col-md-3">
            @Html.DropDownListFor(a=>a.idBusca, Model.ListaGrupo, 
                                    "Todos os Grupos", new { @class ="form-control"})
        </div>

        <div class="col-md-3">
            @Juliao.SubmitSemDiv("Filtrar", "btn btn-success btn-sm")
        </div> 
}
</div>



<br />

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Data Nascimento</th>
                    <th>Desconto</th>
                    <th>Bolsa</th>
                    <th>Grupo</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Alunos)
            {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Nome</td>
                        <td>@item.DataNascimento.ToShortDateString()</td>
                        <td>@item.Desconto</td>
                        <td>@(item.Bolsa?"Sim":"Não")</td>
                        <td>@item.Grupo.Nome</td>
                        <td> 

                            <button onclick="IDID.value=@item.Id" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">
                                Excluir
                            </button>
                            @Html.ActionLink("Editar", "Editar", new { id = @item.Id }, new { @class = "btn btn-primary btn-sm" })
                           

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Excluir</h4>
            </div>
            <div class="modal-body">
               Realmente quer excluir?
            </div>            
            <div class="modal-footer">
                @using (Html.BeginForm("Excluir", "Aluno"))
                {
                    <input type="hidden" id="IDID" name="id" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    @Juliao.SubmitSemDiv("Excluir", "btn btn-danger btn-sm")
                }               
                
            </div>
        </div>
    </div>
</div>