@model List<Fiap.Ex02.MVC.Web.Models.Aluno>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Nome</td>
        <td>@item.DataNascimento.ToShortDateString()</td>
        <td>@(item.Bolsa ? "Sim":"Não")</td>
        <td>@(item.Bolsa ? @item.Desconto.ToString() + "%" : "-")</td>
        <td>@item.Grupo.Nome</td>
    </tr>
}

@if (Request.IsAjaxRequest())
{

}