@model Fiap.Ex02.MVC.Web.ViewModels.AlunoViewModel
@{
    ViewBag.Title = "Editar";
}

@HelperLayout.Titulo("Editar Aluno")

@HelperLayout.Mensagem(Model.Mensagem, Model.TipoMensagem)

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.LabelFor(a => a.Nome)
                @Html.TextBoxFor(a => a.Nome, 
                    new { @class = "form-control", @Value=Model.Nome })
                @Html.ValidationMessageFor(a=>a.Nome)
            </div>
            
            <div class="form-group">
                @Html.LabelFor(a => a.DataNascimento)
                @Html.TextBoxFor(a => a.DataNascimento, "{0:dd/MM/yyyy}", 
                    new { @class = "form-control", @Value=Model.DataNascimento.ToShortDateString() })
                @Html.ValidationMessageFor(a=>a.DataNascimento)
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.GrupoId)
                @Html.DropDownListFor(a => a.GrupoId, Model.ListaGrupo, "Selecione", 
                    new { @class = "form-control", @Value=Model.GrupoId })
                @Html.ValidationMessageFor(a=>a.GrupoId)
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.Bolsa)
                @Html.CheckBoxFor(a => a.Bolsa, new { @checked = (Model.Bolsa) ? "checked" : "unchecked" })
                @Html.ValidationMessageFor(a=>a.Bolsa)
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.Desconto)
                @Html.TextBoxFor(a => a.Desconto, new { @class = "form-control", @Value=Model.Desconto })
                @Html.ValidationMessageFor(a=>a.Desconto)
            </div>

            <div class="form-group">
                @HelperForm.Submit("Salvar", "btn btn-success")
                @HelperForm.Reset("Limpar", "btn btn-danger")
            </div>
        }
    </div>
</div>

@section scripts{
    <script>
        $().ready(function () {
            $("#DataNascimento").datepicker({ dateFormat: "dd/mm/yy" });
            $(".selector").datepicker("option", "dateFormat", "dd/mm/yy");

            if ($("#Bolsa").attr("checked") == "checked") {
                $("#Desconto").parent().css("display", "block");
            } else {
                $("#Desconto").parent().css("display", "none");
            }

            $("#Bolsa").click(function () {
                $("#Desconto").parent().slideToggle();
                $("#Desconto").focus();
            })
        });
    </script>    
}

