@model List<Fiap.Ex02.MVC.Web.Models.Projeto>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Nome</td>
        <td>@item.Descricao</td>
        <td>@item.DataInicio.ToShortDateString()</td>
        <td>@(item.DataTermino.ToString().IsEmpty() ? "-" :  item.DataTermino.ToString())</td>
        <td>@(item.Entregue ? "Sim": "Não")</td>
    </tr>
}
