@model Fiap.Ex02.MVC.Web.ViewModels.ProjetoViewModel
@{
    ViewBag.Title = "Cadastrar";
}

@HelperLayout.Titulo("Cadastro de Projeto")

@HelperLayout.Mensagem(Model.Mensagem, Model.TipoMensagem)

@Html.ValidationSummary()

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.LabelFor(p => p.Nome)
                @Html.TextBoxFor(p => p.Nome, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(p => p.Descricao)
                @Html.TextAreaFor(p => p.Descricao, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(p => p.DataInicio)
                @Html.TextBoxFor(p => p.DataInicio, "{0:dd/mm/yyyy}", new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(p => p.DataTermino)
                @Html.TextBoxFor(p => p.DataTermino, "{0:dd/mm/yyyy}", new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(p => p.Entregue)
                @Html.CheckBoxFor(p => p.Entregue)
            </div>

            <div class="form-group">
                @Html.LabelFor(p=>p.GrupoId)
                @Html.DropDownListFor(p=>p.GrupoId, Model.Grupos, "Selecione", new {@class="form-control" })
            </div>

            <div class="form-group">
                @HelperForm.Submit("Salvar", "btn btn-success")
                @HelperForm.Reset("Limpar", "btn btn-danger")
            </div>
        }        
    </div>
</div>


@section scripts{
    <script>
        $().ready(function () {

            $("#DataInicio").datepicker({ dateFormat: "dd/mm/yy" });
            $("#DataTermino").datepicker({ dateFormat: "dd/mm/yy" });
            $(".selector").datepicker("option", "dateFormat", "dd/mm/yy");

        });
    </script>    
}
