@model Fiap.Exercicio03.MVC.Web.Models.Produto
@{
    ViewBag.Title = "Cadastrar";
}

@HelperLayout.Titulo("Cadastrar")

@HelperLayout.Mensagem(TempData["mensagem"] as string, TempData["tipoMensagem"] as string)

<div class="row">
    <div class="col-md-12">
        
        @using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.LabelFor(p => p.Titulo)
                @Html.TextBoxFor(p => p.Titulo, new { @class = "form-control" })
            </div>
                       
            <div class="form-group">
                @Html.LabelFor(p=>p.Valor)
                @Html.TextBoxFor(p=>p.Valor, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(p=>p.DataCadastro)
                @Html.TextBoxFor(p=>p.DataCadastro, new { @class = "form-control" })               
            </div>
            <div class="form-group">
                @Html.LabelFor(p=>p.Descricao)
                @Html.TextAreaFor(p => p.Descricao, new { @class = "form-control" })                
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(p=>p.Nacional)
                @Html.LabelFor(p=>p.Nacional)
            </div>
            <div class="form-group">
                @HelperForm.BotaoSubmit("Salvar", "btn btn-primary")
            </div>
        }

    </div>
</div>

