@model EnderecoAjax.Ex01.MVC.Web.Models.Endereco
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.LabelFor(e=>e.Cep)
                @Html.TextBoxFor(e=>e.Cep, new { @class="form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(e => e.Logradouro)
                @Html.TextBoxFor(e => e.Logradouro, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(e=>e.Bairro)
                @Html.TextBoxFor(e=>e.Bairro, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(e=>e.Cidade)
                @Html.TextBoxFor(e=>e.Cidade, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(e=>e.Estado)
                @Html.TextBoxFor(e=>e.Estado, new { @class = "form-control" })
            </div>
            
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Salvar" />
            </div>
        }

    </div>
</div>

@section scripts{
    <script>

        $().ready(function () {            
            $("#Cep").blur(function () {
                if ($(this).val().trim().length == 0)
                    return;
                $.ajax({
                    url: "http://api.postmon.com.br/v1/cep/" + $(this).val(),
                    type: "get",                   
                    success: function (data) {
                        console.log(data);
                        $("#Logradouro").val(data["logradouro"]);
                        $("#Bairro").val(data["bairro"]);
                        $("#Cidade").val(data["cidade"]);
                        $("#Estado").val(data["estado"]);
                    },
                    error: function () {
                        console.log("erro");
                    }
                });
            });
        });

    </script>
}
