@model Fiap.Exemplo02.Dominio.Models.Grupo
@{
    ViewBag.Title = "Alterar";
}

@Juliao.Titulo("Alterar Grupo/Projeto")

<div class="row">
    <div class="col-md-12">
        <div class="@TempData["tipoMensagem"]">
            <p>@TempData["mensagem"]</p>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-6">
            <div class="page-header"><h4>Grupo</h4></div>
            <div class="form-group">
                @Html.LabelFor(g => g.Nome)
                @Html.TextBoxFor(g => g.Nome, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="page-header"><h4>Projeto</h4></div>
            <div class="form-group">
                @Html.LabelFor(g => g.Projeto.Nome)
                @Html.TextBoxFor(g => g.Projeto.Nome, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(g => g.Projeto.Descricao)
                @Html.TextBoxFor(g => g.Projeto.Descricao, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(g => g.Projeto.DataInicio)
                @Html.TextBoxFor(g => g.Projeto.DataInicio, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(g => g.Projeto.DataTermino)
                @Html.TextBoxFor(g => g.Projeto.DataTermino, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(g => g.Projeto.Entregue)
                @Html.CheckBoxFor(g => g.Projeto.Entregue)
            </div>
            <div class="form-group">
                @Juliao.Submit("Salvar")
            </div>

        </div>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Excluir</h4>
            </div>
            <div class="modal-body">
                Realmente quer excluir?
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Excluir", "Grupo"))
                {
                    <input type="hidden" id="IDID" name="id" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    @Juliao.SubmitSemDiv("Excluir", "btn btn-danger btn-sm")
                }

            </div>
        </div>
    </div>
</div>